<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs') -%>
</head>
<body>

    <div class="bodycontainer"> 
    
    <header> 
        <%-include('./partials/header.ejs') -%>
    </header>

    <nav class="subnav">
        <ul>
           
            <li class="subnav-li">
                <a href="/app/catalogue"> Catalogue</a>
            </li> 
        
        </ul>
    
      

    </nav>
    <main> 
    <h1> Adding to <%=user.username%>'s library</h1>

    <form action="/app/home" method="POST">
        

        <label for="title"> Title</label>
        <input class="addbook-field" type="text" name="title" id="title"/> 

        <label for="author">Author </label>
        <input class="addbook-field" type="text" name="author" id="author"/> 
        
        <label for="notes"> Notes </label>
        <textarea class="addbook-field" type="text" name="notes" id="notes" rows="10">  </textarea>

        <input type="submit" value="Submit" class="form-btn"> 



    </form>
</main>
<div> 
</body>
</html>