<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs') -%>
</head>
<body>

    <div class="bodycontainer"> 
    
    <header> 
        <%-include('./partials/header.ejs') -%>
    </header>

    <form  action="/home?_method=PUT" method="POST">

        <label for="username"> New Username </label>
        <input type="text" name="username" id="username"/> 

        <input type="submit" value="Update" > 


    </form>

    </div>

</body>
</html>