<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/assets/style.css" rel="stylesheet" type="text/css" />

</head>
<body>

    <h1> Edit Remarks</h1>
    
    <form class="edit" action="/<%=book.id%>?_method=PUT" method="POST">

        <label for="remarks"> Remarks </label>
        <input type="text" name="remarks" id="remarks"/> 

        <input type="submit" value="Update" > 


    </form>
    
    
</body>
</html>