<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('./partials/head.ejs') -%>
</head>
<body>

  <header> 
    <%-include('./partials/header.ejs') -%>
  </header>
    
    
    <h1> Welcome <%=currentUser.username%>! </h1>

          <main> 

           <a  href="/app/<%=currentUser._id%>/add/">Add a book</a> 
           <a  href="/app/catalogue/">See catalogue</a>
            
          </main>
    
 
 



        <form action="/sessions?_method=DELETE" method="POST">
            <input type="submit" value="Logout" class="form-btn"/>
        </form>
</body>
</html>