<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('./partials/head.ejs') -%>
</head>
<body>

  <header> 
    <%-include('./partials/header.ejs') -%>
  </header>
  
          <main> 

          <h1> <%=currentUser.username%>'s library </h1>

          <div class="library-options-container"> 

            <section class="library-options"> 

              <a class="libopt" href="/app/<%=currentUser._id%>/add/"> 
                <p> Add a book </p>
              </a> 
              
              <a class="libopt" href="/app/catalogue/">
                <p> See catalogue</p>
              </a>

            </section> 
        </div>
            
          </main>
    
 
 



         
</body>
</html>