<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('./partials/head.ejs') -%>
</head>
<body>

  <header> 
    <%-include('./partials/header.ejs') -%>
  </header>
    
  
    <main> 
      <h1>
          <% if(currentUser) { %>
            Hello, <%=currentUser.username%>! 
      </h1>
          
           

            <div class="nytapi-div"> 

              <h1> Suggested Reads</h1>

              <section class="nytapi-lists"> 

                <div class="" id="fiction"> </div>
                <div class="" id="nonfiction"></div>

              </section>

            </div>

          


        <% } else { %>

          <section class="entry-section"> 

            <div class="container-a"> 
          
            <a class="entrybtn-a" href="/users/new">
              <div class="entrybtn"> 
                <p> Sign Up </p>
              </div>
            </a>
            </div>

            <div class="container-a"> 
            <a class="entrybtn-a" href="/sessions/new">
              <div class="entrybtn"> 
                <p> Log In </p>
              </div>
            </a>
          </div>
        </section>
      </main>

        <% } %>
  




  <script> 
   
  $(() => {
 
    const h2 = $('<h2>').html("NYT Top Hard Cover Fiction")
    $('#fiction').append(h2)

    let promise = $.ajax({
      url: "https://api.nytimes.com/svc/books/v3/lists/current/hardcover-fiction.json?api-key=AEkLRlfzOlHMjU5FtqUiXX86gbGc8MjA"
      });

      promise.then (
          (data) => {
             
              const hardcoverfiction = data["results"]["books"]

              for (item of hardcoverfiction) {
                let book = {}

                book.img = item.book_image 
                let bookimg = $('<img>')
                bookimg.attr('src', book.img)
                bookimg.addClass('bookimage')

                book.author = item.author; 
                let bookauthor = $('<p>').html(book.author)
      
                book.title = item.title;
                
                book.amazon = item.amazon_product_url
                let bookamazon = $('<a>').attr("href", `${book.amazon}`)
                bookamazon.html(`${book.title}`)

                let bookdiv1 = $('<div>').addClass('eachbookdiv1')
                let bookdiv2 = $('<div>').addClass('eachbookdiv2')
    
                bookdiv1.append(bookimg)
                bookdiv2.append(bookamazon)
                bookdiv2.append(bookauthor)

                let bookcontainer = $('<div>') 
                bookcontainer.addClass('bookcontainer')
                bookcontainer.append(bookdiv1)
                bookcontainer.append(bookdiv2)
                
                $('#fiction').append(bookcontainer)

              }

          }
      )

  const h2b = $('<h2>').html("NYT Top Hard Cover Non-Fiction")
  $('#nonfiction').append(h2b)

  promise = $.ajax({
        url: "https://api.nytimes.com/svc/books/v3/lists/current/hardcover-nonfiction.json?api-key=AEkLRlfzOlHMjU5FtqUiXX86gbGc8MjA"
        });

        promise.then (
            (data) => {
                const hardcovernonfiction = data["results"]["books"]
             
                for (item of hardcovernonfiction) {
                  let book = {}

                  book.img = item.book_image 
                  let bookimg = $('<img>')
                  bookimg.attr('src', book.img)
                  bookimg.addClass('bookimage')

                  book.author = item.author; 
                  let bookauthor = $('<p>').html(book.author)
        
                  book.title = item.title;
                  
                  book.amazon = item.amazon_product_url
                  let bookamazon = $('<a>').attr("href", `${book.amazon}`)
                  bookamazon.html(`${book.title}`)
                  let bookdiv1 = $('<div>').addClass('eachbookdiv1')
                let bookdiv2 = $('<div>').addClass('eachbookdiv2')
    
                bookdiv1.append(bookimg)
                bookdiv2.append(bookamazon)
                bookdiv2.append(bookauthor)

                let bookcontainer = $('<div>') 
                bookcontainer.addClass('bookcontainer')
                bookcontainer.append(bookdiv1)
                bookcontainer.append(bookdiv2)
                
                $('#nonfiction').append(bookcontainer)


                }

            }
        )
               

    })
    </script>
</body>
</html>