<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('./partials/head.ejs') -%>
</head>
<body>

  <header> 
    <%-include('./partials/header.ejs') -%>
  </header>
    
    
    <h1>
        <% if(currentUser) { %>
          Welcome <%=currentUser.username%>! </h1>

          <main> 

           <a href="/app/home"> User home page </a>
          </main>
        <% } else { %>
          <h2>Please </h2>
          <a href="/users/new">Sign Up</a></h2>
          <h3>or</h3>
          <a href="/sessions/new">Log In</a>
        <% } %>
 
 



        <form action="/sessions?_method=DELETE" method="POST">
            <input type="submit" value="Logout" class="waves-effect waves-light btn"/>
        </form>
</body>
</html>