<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1> Editing "<%=book.title%>"</h1>

    <form  action="/catalogue?_method=PUT" method="POST">

        <label for="notes"> Notes </label>
        <input type="text" name="notes" id="notes"/> 

        <input type="submit" value="Submit"> 



    </form>
</body>
</html>