body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
} 
a {
    text-decoration: none;
}

a:hover {
    color: rgb(150, 213, 233); 
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px; 
}


