body {
    font-family: 'Lato', sans-serif;
}
header {
    background: #2B4162; 
    padding-left: 20px; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}

header h1 {
    color: #fefafe; 
    font-family: 'Merriweather', serif;
} 

nav {
    display: flex; 
    justify-content: space-around;
    align-items: center;  
    width: 20%; 
}

nav a {
    text-decoration: none; 
}

.navlinks {
    color: #fefafe; 
    font-family: 'Merriweather', serif;
}
main {
    padding-left: 20px; 
    display: flex; 
    flex-direction: column; 
}
ul {
    list-style: none; 
}
li {
    display: flex; 
    flex-direction: column; 
    margin-top: 10px; 
    
}

.li-elements {
    margin-top: -10px;  
}

.li-elements span {
    font-weight: bold; 
}

form {
    display: flex; 
    flex-direction: column; 
}

