body {
    font-family: 'Lato', sans-serif;
    background: #2B4162; 
}

a {
    text-decoration: none; 
}
header {
    background: #2B4162; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    padding-top: 10px; 
    padding-bottom: 10px; 
}
@media screen and (min-width: 600px) {
    header {
        display: flex; 
        flex-direction: row; 
        justify-content: space-between; 
        padding-left: 20px; 
        padding-right: 20px; 

    }
}

header h1 {
    color: #fefafe; 
    font-family: 'Merriweather', serif;
} 

nav {
    display: flex; 
    justify-content: space-around;
    flex-direction: column; 
    align-items: center;  
    width: 20%; 
    margin-top: -10px; 
}

@media screen and (min-width: 600px) {
    
    nav {
        display: flex; 
        justify-content: space-around;
        flex-direction: row; 
        align-items: center;  
        width: 20%; 
        margin-top: -10px; 
        padding-left: 10px; 
        padding-right: 10px; 
    }
}

nav a {
    text-decoration: none; 
    margin-top: 10px; 
}

.navlinks {
    color: #fefafe; 
    font-family: 'Merriweather', serif
}

main {
    width: 100%; 
    padding-left: 20px; 
    padding-bottom: 20px; 
    display: flex; 
    flex-direction: column; 
    background: #e4f2fd; 

}
ul {
    list-style: none; 
}
li {
    display: flex; 
    flex-direction: column; 
    margin-top: 10px; 
    
}

.li-elements {
    margin-top: -10px;  
}

.li-elements span {
    font-weight: bold; 
}

.account-form {
    display: flex; 
    justify-content: center; 
}
.account-form-container {
    width: 50%; 
    margin: 0 auto; 
}

form {
    display: flex; 
    flex-direction: column; 
    
}

.form-row-field {
    display: flex; 
    flex-direction: column; 
}

.validate {
    width: 50%; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    padding-left: 10px; 
    margin-top: 10px; 
    font-size: 1.2rem; 
}

#username {
    margin-bottom: 30px; 
}
.form-btn {
    border-radius: 75px; 
    width: 200px;
    margin-top: 10px; 
    padding-top: 10px; 
    padding-bottom: 10px;  
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem; 
    color: whitesmoke; 
    background: #2B4162; 
}

.entry-section {
   
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    margin: 0 auto; 
  
}


.container-a {
    margin: 20px auto; 
}
.entrybtn {
    width: 200px; 
    border-radius: 75px; 
    background: #2B4162; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    
}

.entrybtn p {
    color: whitesmoke; 
    font-size: 1.5rem; 
}

.catalogue-li {
    border-bottom: 1px solid #2B4162; 
    padding-top: 10px; 
    padding-bottom: 10px; 
}

.nytapi-div {
    border: 2px solid #5C6672; 
    padding: 5px 10px 10px 10px; 
    width: 60%; 
    margin: 0 auto; 
    
}

@media screen and (min-width: 600px) {
    .nytapi-lists {
        display: flex; 
        flex-direction: row; 
    }
}
.bookcontainer {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    margin-top: 10px; 
}

.eachbookdiv2 {
    margin-left: 20px; 
}
.bookimage {
    height: 100px; 
    width: 60px; 
}