<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head.ejs') -%>
</head>
<body>

    <header> 
        <%-include('../partials/header.ejs') -%>
    </header>
    
    <script> 

    $(() => {
        const promise = $.ajax({
              url: "https://api.nytimes.com/svc/books/v3/lists/current/hardcover-fiction.json?api-key=AEkLRlfzOlHMjU5FtqUiXX86gbGc8MjA"
              });

              promise.then (
                  (data) => {
                      const hardcoverBooks = data["results"]["books"]

                  }
              )
               

    })
    </script> 
</body>
</html>