<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
      <h1>Log In</h1>
      <div class="row">
        <form action="/sessions" method="POST">
          <div class="row">
            <div >
              <input placeholder="username" id="username" type="text" class="validate" name="username" required>
              <label for="username">User Name</label>
            </div>
          </div>
          <div class="row">
            <div >
              <input id="password" type="password" class="validate" name="password" required>
              <label for="password">Password</label>
            </div>
          </div>
          <button  type="submit" name="action">Submit
           
          </button>
        </form>
      </div>
  </body>
</html>