<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('../partials/head.ejs') -%>
    
</head> 

<body>  
  <h1>Create User</h1>
  <div class="row">
    <form action="/users" method="POST">
      <div class="row">
        <div class="input-field">
          <label for="username">User Name</label>
          <input placeholder="Placeholder" id="username" type="text" class="validate" name="username" required>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <label for="password">Password</label>
          <input id="password" type="password" class="validate" name="password" required>
        </div>
      </div>
      <button type="submit" name="action">Submit
      </button>
    </form>
  </div>

 
    
</body>
</html>