<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('../partials/head.ejs') -%>

</head>
<body>

  <div class="bodycontainer"> 

    <header> 
    <%-include('../partials/header.ejs') -%>
  </header>
    

  <main class="account-main">
    <div class="account-form-container"> 
      <h1>Create an Account</h1>
      <form class="col s12" action="/users" method="POST">
        <section class="form-row-field" >
          <label for="username">User Name</label>
          <input id="username" type="text" class="validate" name="username" required>
        </section>
        <section class="form-row-field" >
          <label for="password">Password</label>
          <input id="password" type="password" class="validate" name="password" required>    
        </section>
      <button class="form-btn" type="submit" name="action">Submit
        
      </button>
        </form>
       </div>
    </main>
  </div>

</body>
</html>